<p-toast class="toast"></p-toast>
<p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-fieldset legend="Asociar estudiante">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <p-dropdown [style]="{width: '100%'}" [options]="jornadas" [(ngModel)]="selectJornada" optionLabel="genero"
                placeholder="Jornada" (onChange)="buscarCursos(selectJornada)">
            </p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <p-dropdown [style]="{width: '100%'}" [options]="cursosList" [(ngModel)]="cursoSelected"
                optionLabel="nombreCurso" placeholder="Cursos" (onChange)="dropDownCurso($event)"></p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <p-multiSelect [style]="{width: '100%'}" [options]="usuariosList" [(ngModel)]="usuariosSelected"
                optionLabel="nombreCompleto" [defaultLabel]="'Estudiantes'"></p-multiSelect>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <button style="width: 100%;" icon="pi pi-save" pButton type="button" label="Asignar estudiantes"
                class="ui-button-success" (click)="guardar()"></button>
        </div>
    </div>
</p-fieldset>



<div style="padding-top: 25px;">
    <p-table [value]="estudiantesCurso">
        <ng-template pTemplate="header">
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Nombre usuario</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
            <tr>
                <td>{{car.nombres}}</td>
                <td>{{car.apellidos}}</td>
                <td>{{car.nombreUsuario}}</td>
                <td>{{car.correo}}</td>
                <td style="text-align: center;">
                    <button pButton type="button" icon="pi pi-trash" class="ui-button-danger"
                        (click)="confirmar(car)"></button>
                </td>

            </tr>
        </ng-template>
    </p-table>
</div>